body {
  background-image: url("../img/fundo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: "Merriweather", serif;
  padding-top: 15px;
}

p {
  font-family: "Kaisei HarunoUmi", serif;
}

#fundo {
  margin: 0 auto;
  width: 50em;
  height: 100%;
  background: white;
}

#conteudo {
  padding: 1em;
}

#links {
  position: relative;
  float: right;
}

.icone {
  padding: 0.1em;
  height: 10em;
}

iframe {
  /* Queria algo mais bonitinho, então coloquei a largura da box q ele esta */
  /* Peço perdão pelo vacilo */
  width: 100%;
}
